h1 {
  size: 30px;
  text-align: center;
  color: white;
  font-style: italic;
}
body {
  background-color: grey;

}
p {
  color: white;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
.img {
  width: 330px;
  height: 400px;
}
img.img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h2{
  color: white;
}
ol {
  color: white;
  list-style-type: circle;
}
